/vendor
/node_modules
/public/storage
/storage/*.key
.env
.phpunit.result.cache

/storage/app/public
/storage/framework/cache
/storage/framework/sessions
/storage/framework/views
/storage/logs

.DS_Store
Thumbs.db
.idea
.vscode
